::ng-deep {
  .mat-dialog-container {
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    margin: 0 8px;
  }

  .mat-dialog-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }
}

.header-add-appointment {
  font-size: 36px;
  margin: 5px;
}
